/* Header */

.header1 {
    background-color: red;
}

.header2 {
    background-color: green;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: lightgray;
    float: left;
    /* Змініть на "right" для праворучного сайдбару */
}

.main-content {
    margin-left: 220px;
    /* Збільште, якщо сайдбар праворучний */
    padding: 20px;
}

/* Стилі для сторінки налаштувань */
#settings {
    margin-bottom: 20px;
}

/* Стилі для форми управління колірною схемою */
#color-form {
    margin-top: 10px;
}

/* Стилі для футера */
footer {
    margin-top: 20px;
}

/* Footer*/
.footer {
    padding: 20px;
    color: white;
    text-align: center;
}

.footer1 {
    background-color: blue;
}

.footer2 {
    background-color: orange;
}